/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --primary-dark: rgb(0, 138, 99);
  --error: #e7195a;
  --black: #333;
  --white: #fff;
  --background: #f1f1f1;
}
body {
  background: var(--background);
  margin: 0;
  font-family: "Poppins";
}
header {
  background: var(--white);
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: var(--black);
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */

.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.workout-details {
  background: var(--white);
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}

/* styles.css */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in;
}

.fade-out {
  animation: fadeOut 0.5s ease-out;
}


.workout-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.workout-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.workout-details span.delelteBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: var(--background);
  padding: 6px;
  border-radius: 50%;
  color: var(--black);
}

.workout-details span.delelteBtn:hover{
  background-color: var(--black);
  color: var(--background);
}

.workout-details span.editBtn {
  position: absolute;
  top: 20px;
  right: 60px;
  cursor: pointer;
  background: var(--background);
  padding: 6px;
  border-radius: 50%;
  color: var(--black);
}

.workout-details span.editBtn:hover{
  background-color: var(--black);
  color: var(--background);
}

/* styles.css */

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.close {
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 24px;
  cursor: pointer;
}

.delOptions{
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}

.delOptions button{
  background: var(--primary);
  border: 0;
  color: var(--white);
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

.delOptions button:hover{
  background-color: var(--primary-dark);
}

/* new workout form */
label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: var(--white);
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

form button:hover{
  background-color: var(--primary-dark);
}

.edit-form{
  width: 350px;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

input.error{
  border: 1px solid var(--error);
}